version: "3.9"

services:
  service-a:
    container_name: service-a
    build:
      context: .
      dockerfile: Dockerfile
    image: service-a:latest
    ports:
      - "8081:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SERVICE_B_BASE_URL: http://service-b:8080
    networks:
      - shared-net
    restart: unless-stopped

networks:
  shared-net:
    external: true