version: "3.9"

services:
  service-a:
    container_name: service-a
    build:
      context: .
      dockerfile: Dockerfile
    image: service-a:latest
    ports:
      - "8081:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    restart: unless-stopped